*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Git Toolbox
/.idea/git_toolbox_prj.xml

# BuildSrc
buildSrc/.gradle
buildSrc/build

# Keys
/keyStore
/keyStore.properties
